<!-- views/laundry/dashboard.ejs -->
<h2> Your laundry Dashboard </h2>

<ul>
  <li> <a href="/launderers"> Find a Launderer </a> </li>
  <li> <a href="/logout"> Log Out </a> </li>
</ul>

<!--Lines 11-17: We have an if statement that
displays new HTML if the user is already a launderer.-->
<% if (currentUserInfo.isLaunderer) { %>
  <h3> You are a launderer </h3>

  <p>
    Your laundering fee is
    <b>$<%= currentUserInfo.fee %>.</b>
  </p>

  <!--Lines 21-32: The form that was previously there
  is now being displayed in the else.-->
<% } else { %>
  <h3> Want to become a launderer? </h3>

  <form action="/launderers" method="post">
    <div>
      <label for="fee-input"> Set your fee </label>
      <input type="number" name="fee" id="fee-input">
    </div>

    <button> Become a Launderer </button>
  </form>
<% } %>

<h3> Pending Pickups </h3>

<ul>
  <% pickups.forEach((onePickup) => { %>
    <li>
      <h4> <%= onePickup.pickupDate %> </h4>

      <ul>
        <li> <b>User</b>: <%= onePickup.user.name %> </li>
        <li> <b>Launderer</b>: <%= onePickup.launderer.name %> </li>
      </ul>
    </li>
  <% }) %>
</ul>
